//  ________  ________  ________           _________  ________  ___  ___      ___    ___ _______   ________      
// |\   ___ \|\   __  \|\   ___  \        |\___   ___\\   __  \|\  \|\  \    |\  \  /  /|\  ___ \ |\   ___  \    
// \ \  \_|\ \ \  \|\  \ \  \\ \  \       \|___ \  \_\ \  \|\  \ \  \\\  \   \ \  \/  / | \   __/|\ \  \\ \  \   
//  \ \  \ \\ \ \   __  \ \  \\ \  \           \ \  \ \ \   _  _\ \  \\\  \   \ \    / / \ \  \_|/_\ \  \\ \  \  
//   \ \  \_\\ \ \  \ \  \ \  \\ \  \           \ \  \ \ \  \\  \\ \  \\\  \   \/  /  /   \ \  \_|\ \ \  \\ \  \ 
//    \ \_______\ \__\ \__\ \__\\ \__\           \ \__\ \ \__\\ _\\ \_______\__/  / /      \ \_______\ \__\\ \__\
//     \|_______|\|__|\|__|\|__| \|__|            \|__|  \|__|\|__|\|_______|\___/ /        \|_______|\|__| \|__|
//                                                                          \|___|/                              


// Mixin

@import "mixin/_normalize"; // Normalize.css
@import "mixin/_breakpoint"; // Media Queries


// Config

@import "sass/_config"; // Sass Variables Configurations


// Fonts

// @import url("./fonts/muli/font.css"); // Google Fonts: Muli
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap&subset=latin-ext,vietnamese'); // Google Fonts: Muli
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap&subset=vietnamese');
// Addons

@import url("./addons/jquery.modal.css"); // Addons: jQuery Modal
@import url("./addons/fontawesome/all.css"); // Addons: FontAwesome
@import url("./addons/bootstrap-grid.css"); // Addons: Bootstrap 4 Grid
@import url("./addons/animate.css"); // Addons: Bootstrap 4 Grid


// Stylesheets

@import "sass/_basic"; // Core: Basics

@import "sass/_typography"; // Core: Typography
@import "sass/_ui"; // Core: UI
@import "sass/_button"; // Core: UI

@import "sass/_modal"; // Customize: Modal

@import "sass/_header"; // Global: Header
@import "sass/_footer"; // Global: Footer

@import "sass/_homepage"; // Page: Home

@import "sass/_game"; // Page: Game
