@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700&subset=vietnamese");
@import url("./bootstrap-grid.css");
@import url("./flickity.css");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.hidden-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hidden-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hidden-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .hidden-desktop {
    display: none;
  }
}

.flex-vertical-align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-primary {
  color: #31628A;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  position: relative;
}

html {
  font-size: 14px;
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

body {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 1rem;
  color: #82B2D6;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: white;
}

body.logged-out .logged-in {
  display: none;
}

body.logged-in .logged-out {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  color: #31628A;
  margin: 0 0 1em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: .75rem;
  letter-spacing: .2em;
}

h5 {
  font-size: .75rem;
  color: #82B2D6;
  letter-spacing: .2em;
}

p {
  margin: 0 0 1em;
}

.container-fluid {
  padding-left: 5vw;
  padding-right: 5vw;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  height: 3rem;
  border-radius: 1.5rem;
  font-weight: bold;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

.button.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  width: 70%;
  max-width: 15rem;
}

.button.full {
  background-color: #31628A;
  color: white;
}

.button.full:hover {
  background-color: #16253f;
}

.button.hollow {
  border: 0.1em solid #31628A;
  color: #31628A;
}

.button.hollow:hover {
  background-color: #31628A;
  color: white;
}

.button:hover {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.link {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.link.small {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: bold;
}

.link.arrow-right:after, .link.arrow-left:before {
  content: '';
  display: inline-block;
  width: 2em;
  height: .2em;
  margin: .25em 1em;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  background-color: currentColor;
}

.link.arrow-right::after {
  margin-right: 0;
}

.link.arrow-left::before {
  margin-left: 0;
}

.link.arrow:hover.arrow-right::after, .link.arrow:hover.arrow-left::before {
  width: 4em;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.link:hover {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.link:hover.color-primary {
  color: #16253f;
}

#nav {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 9999;
  color: white;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  background-color: #31628A;
}

@media (min-width: 992px) {
  #nav {
    width: 100%;
    padding: 5rem 5vw;
    margin: 0 auto;
    color: #31628A;
    border-bottom: none;
    background-color: transparent;
  }
  #nav.fixed {
    background-color: white;
    padding: 2.5rem 5vw;
    -webkit-box-shadow: 0 0 0 1px #B4DAF2;
            box-shadow: 0 0 0 1px #B4DAF2;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
  }
  #nav.fixed .logo {
    width: 12rem;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
  }
}

#nav .logo {
  background-image: url("../img/logo-only-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 10rem;
  height: 75px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

@media (min-width: 992px) {
  #nav .logo {
    background-image: url("../img/logo-only.svg");
    margin-right: 3rem;
    width: 20rem;
  }
}

#nav ul.menu {
  display: none;
}

@media (min-width: 992px) {
  #nav ul.menu {
    display: block;
    list-style: none;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #nav ul.menu li {
    display: inline;
  }
  #nav ul.menu li + li::before {
    display: inline-block;
    content: '';
    width: 2rem;
  }
}

#nav .logged-in {
  display: none;
}

@media (min-width: 992px) {
  #nav .logged-in {
    display: inline;
  }
}

#nav .logged-out {
  display: none;
}

@media (min-width: 992px) {
  #nav .logged-out {
    display: inline;
  }
}

#nav .mobile-menu-toggle {
  display: block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

#nav .mobile-menu-toggle:hover {
  opacity: 0.7;
}

#nav .mobile-menu-toggle.is-active:hover {
  opacity: 0.7;
}

#nav .mobile-menu-toggle.is-active .mobile-menu-toggle-inner {
  background-color: white;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

#nav .mobile-menu-toggle.is-active .mobile-menu-toggle-inner::before, #nav .mobile-menu-toggle.is-active .mobile-menu-toggle-inner::after {
  background-color: white;
}

#nav .mobile-menu-toggle.is-active .mobile-menu-toggle-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

#nav .mobile-menu-toggle.is-active .mobile-menu-toggle-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#nav .mobile-menu-toggle .mobile-menu-toggle-box {
  width: 2rem;
  height: .75rem;
  display: inline-block;
  position: relative;
}

#nav .mobile-menu-toggle .mobile-menu-toggle-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 2rem;
  height: .25rem;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#nav .mobile-menu-toggle .mobile-menu-toggle-inner::before, #nav .mobile-menu-toggle .mobile-menu-toggle-inner::after {
  width: 2rem;
  height: .25rem;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#nav .mobile-menu-toggle .mobile-menu-toggle-inner::before, #nav .mobile-menu-toggle .mobile-menu-toggle-inner::after {
  content: "";
  display: block;
}

#nav .mobile-menu-toggle .mobile-menu-toggle-inner::before {
  top: -10px;
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

#nav .mobile-menu-toggle .mobile-menu-toggle-inner::after {
  bottom: -10px;
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@media (min-width: 992px) {
  #nav .mobile-menu-toggle {
    display: none;
  }
}

.header-spacer {
  display: block;
  width: 100%;
  height: 50px;
}

@media (min-width: 992px) {
  .header-spacer {
    display: none;
  }
}

#header {
  width: 100%;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: top -7.5% right 10%;
}

@media (min-width: 992px) {
  #header {
    height: 100vh;
    background-size: contain;
    background-position: top right;
  }
}

#header .intro {
  padding-top: 50vh;
  padding-bottom: 2.5rem;
}

@media (min-width: 992px) {
  #header .intro {
    padding-top: 55vh;
  }
}

#header .intro h1 {
  margin: 0;
  margin-bottom: 2rem;
  color: #31628A;
  text-align: center;
  font-size: 2rem;
}

@media (min-width: 1200px) {
  #header .intro h1 {
    text-align: left;
    font-size: 2.5vw;
  }
}

#header .intro p {
  max-width: 30rem;
  margin: 0 auto 2rem;
  text-align: center;
}

@media (min-width: 1200px) {
  #header .intro p {
    margin: 0 0 2rem;
    text-align: left;
  }
}

#header .intro p:last-child {
  margin-bottom: 0;
}

.section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 992px) {
  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.section .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section .section-title br {
  display: inline;
}

@media (min-width: 992px) {
  .section .section-title br {
    display: none;
  }
}

.section .section-title h2 {
  margin: 0;
}

.section .section-title h2 br {
  display: none;
}

@media (min-width: 992px) {
  .section .section-title h2 br {
    display: inline;
  }
}

.section .section-title h2:after {
  content: '';
  display: block;
  margin: 1rem auto 1.5rem;
  width: 2rem;
  height: 3rem;
  background-image: url("../img/divider.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section .section-title h5 {
  margin: 0 0 1.5em 0;
}

@media (min-width: 992px) {
  .section .section-title.align-left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .section .section-title.align-left h2::after {
    margin: 1rem 0 1.5rem;
  }
}

.join-now .col-left p {
  color: #31628A;
  text-align: justify;
}

.join-now ul.perks {
  list-style: none;
  padding-left: 0;
}

@media (min-width: 992px) {
  .join-now ul.perks {
    padding-left: 2.5em;
  }
}

.join-now ul.perks li::before {
  content: '✓';
  color: #FFC000;
  line-height: 2;
  margin-right: 1em;
}

.join-now .counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  color: #31628A;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.join-now .counters .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 1.5rem;
  background-repeat: no-repeat;
  background-size: auto 2.5rem;
  background-position: top 0.25rem left 1rem;
}

.join-now .counters .counter.stories {
  background-image: url("../img/counter-story.svg");
}

.join-now .counters .counter.missions {
  background-image: url("../img/counter-mission.svg");
}

.join-now .counters .counter.characters {
  background-image: url("../img/counter-character.svg");
}

.join-now .counters .counter span {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.join-now .counters .counter span:first-child {
  font-size: 2rem;
}

.join-now .counters .counter span:last-child {
  font-size: .75rem;
}

.how-to-play .roles {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .how-to-play .roles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.how-to-play .roles .role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 30rem;
  border-radius: 1rem;
  padding: 3rem;
  margin: 0 2rem;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.how-to-play .roles .role img {
  height: 20rem;
  margin: 0 auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}

.how-to-play .roles .role h4 {
  margin: 2rem 0;
}

.how-to-play .roles .role p {
  margin: 0;
}

.how-to-play .roles .role .button {
  margin: 2rem 0 -4.5rem;
  opacity: 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.how-to-play .roles .role:hover {
  -webkit-box-shadow: 0 15px 75px rgba(180, 218, 242, 0.5);
          box-shadow: 0 15px 75px rgba(180, 218, 242, 0.5);
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.how-to-play .roles .role:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.how-to-play .roles .role:hover .button {
  opacity: 1;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.how-to-play .roles-mobile ul.roles-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 3rem;
  border-radius: 1.5rem;
  border: 0.2rem solid #31628A;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.how-to-play .roles-mobile ul.roles-tabs li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  -webkit-box-shadow: 0 0 0 0.1rem #31628A;
          box-shadow: 0 0 0 0.1rem #31628A;
  color: #31628A;
}

.how-to-play .roles-mobile ul.roles-tabs li.current {
  color: white;
  background-color: #31628A;
}

.how-to-play .roles-mobile .roles-tab-content {
  display: none;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how-to-play .roles-mobile .roles-tab-content img {
  width: 80%;
  margin: 2rem auto;
  display: block;
}

.how-to-play .roles-mobile .roles-tab-content h4 {
  margin: 0 auto 2rem;
}

.how-to-play .roles-mobile .roles-tab-content.current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editors-pick .align-right {
  color: #31628A;
  text-align: justify;
}

@media (min-width: 992px) {
  .editors-pick .align-right {
    color: #82B2D6;
    text-align: right;
  }
}

.editors-pick .game-carousel {
  width: 100%;
  margin: -2rem 0 -2rem;
}

.editors-pick .game-carousel .flickity-button {
  display: none;
  color: white;
  margin: 0 1.5rem;
  background-color: #31628A;
}

@media (min-width: 992px) {
  .editors-pick .game-carousel .flickity-button {
    display: block;
  }
}

.editors-pick .game-carousel .game-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  width: 20rem;
  height: 33rem;
  margin: 2rem 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 15px rgba(180, 218, 242, 0.5);
          box-shadow: 0 3px 15px rgba(180, 218, 242, 0.5);
}

@media (min-width: 992px) {
  .editors-pick .game-carousel .game-card {
    margin: 2rem 2rem;
  }
}

.editors-pick .game-carousel .game-card.is-selected {
  -webkit-box-shadow: 0 3px 15px #b4daf2;
          box-shadow: 0 3px 15px #b4daf2;
}

.editors-pick .game-carousel .game-card img {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  background-color: #B4DAF2;
}

.editors-pick .game-carousel .game-card .game-info {
  padding: 1.5rem;
}

.editors-pick .game-carousel .game-card h3 {
  width: 100%;
  text-transform: initial;
  text-align: left;
  margin: 0 0 1rem;
  white-space: nowrap;
}

.editors-pick .game-carousel .game-card .game-description {
  position: relative;
  font-family: sans-serif;
  width: 90%;
}

.editors-pick .game-carousel .game-card .game-description:after {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 1.5rem;
}

.editors-pick .game-carousel .game-card .game-description p {
  position: relative;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  max-height: 4.5rem;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.editors-pick .game-carousel .game-card .game-tag {
  list-style: none;
  margin: 0;
  padding: 0;
}

.editors-pick .game-carousel .game-card .game-tag li {
  display: inline-block;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  color: #B4DAF2;
  margin-right: 1em;
}

.editors-pick .game-carousel .game-card .game-tag li::before {
  content: '#';
  letter-spacing: .2em;
}

.faq .faq-accordion h3 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: inherit;
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 3px 15px rgba(180, 218, 242, 0.5);
          box-shadow: 0 3px 15px rgba(180, 218, 242, 0.5);
}

.faq .faq-accordion h3:focus {
  outline: none;
}

.faq .faq-accordion div {
  padding: 1.5rem;
}

.faq img {
  display: block;
  width: 80%;
  margin: 0 auto 2rem;
}

#footer {
  background-image: url(../img/footer-2.png), -webkit-gradient(linear, left top, left bottom, from(#B4DAF2), to(#82B2D6));
  background-image: url(../img/footer-2.png), linear-gradient(#B4DAF2, #82B2D6);
  background-size: 200% auto;
  background-position: top right;
  background-repeat: no-repeat;
  color: white;
  padding-top: 15vh;
  padding-bottom: 5vh;
}

@media (min-width: 992px) {
  #footer {
    background-size: 100% auto;
    padding-top: 25vh;
  }
}

@media (min-width: 992px) {
  #footer .col-right {
    text-align: right;
  }
}

#footer .footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  #footer .footer {
    margin-bottom: 1.5rem;
  }
}

#footer .footer ul {
  list-style: none;
  padding: 0;
}

#footer .footer ul li {
  line-height: 2;
}

#footer .footer .links ul {
  -webkit-columns: 3;
          columns: 3;
}

#footer .footer .social ul {
  -webkit-columns: 3;
          columns: 3;
}

@media (min-width: 992px) {
  #footer .footer .social ul {
    -webkit-columns: 1;
            columns: 1;
  }
}

#footer .footer .subscription p br {
  display: none;
}

@media (min-width: 992px) {
  #footer .footer .subscription p br {
    display: inline;
  }
}

#footer .footer .subscription .subscription-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 2rem;
}

#footer .footer .subscription .subscription-box input {
  height: 3.5rem;
  border: none;
  border-radius: 1.75rem;
  color: #B4DAF2;
  margin: 0;
  padding: 0 1.5rem;
}

#footer .footer .subscription .subscription-box input[type=text] {
  -webkit-box-shadow: 0 5px 25px rgba(49, 98, 138, 0.25);
          box-shadow: 0 5px 25px rgba(49, 98, 138, 0.25);
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  width: 100%;
}

@media (min-width: 992px) {
  #footer .footer .subscription .subscription-box input[type=text] {
    max-width: 400px;
  }
}

#footer .footer .subscription .subscription-box input[type=text]:focus {
  -webkit-box-shadow: 0 5px 25px rgba(49, 98, 138, 0.75);
          box-shadow: 0 5px 25px rgba(49, 98, 138, 0.75);
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

#footer .footer .subscription .subscription-box input[type=submit] {
  width: 3.5rem;
  margin: 0 0 0 -3.5rem;
  padding: 0;
  background-image: url(../img/arrow.svg);
  background-color: #31628A;
  background-size: 20% auto;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 5rem;
}

#footer .sub-footer {
  color: #31628A;
}

#footer .sub-footer p {
  margin: 0;
  line-height: 1.5;
}

#footer .sub-footer .notes {
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  #footer .sub-footer .notes {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */