// Normalizer & Google Fonts & Bootstrap Grid
@import "_normalize";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700&subset=vietnamese");
@import url('./bootstrap-grid.css');
@import url('./flickity.css');


// Mixin

@import "_breakpoint";

// Visibility

@import "_visibility";

// Flex Ultilities

@import "_flexbox";

// Styling Variables

@import "_colors";

$font-primary: 'Noto Sans SC',
sans-serif;

// Styles

* {
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

html {
    font-size: 14px;

    @include breakpoint(md) {
        font-size: 15px;
    }
}

body {
    font: {
        family: $font-primary;
        size: 1rem;
    }

    color: color(text);
    line-height: 1.5;
    overflow-x: hidden;

    background: {
        color: white;
    }

    &.logged-out {
        .logged-in {
            display: none;
        }
    }

    &.logged-in {
        .logged-out {
            display: none;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    color: color(primary);
    margin: 0 0 1em;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: .75rem;
    letter-spacing: .2em;
}

h5 {
    font-size: .75rem;
    color: color(text);
    letter-spacing: .2em;
}

p {
    margin: 0 0 1em;
}

.container-fluid {
    padding-left: 5vw;
    padding-right: 5vw;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

// Buttons

@import "_buttons";

// Links

@import "_links";

// Navigation Bar

@import "_navbar";

// Hero

@import "_hero";

// Main

.section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    @include breakpoint(md) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .section-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        br {
            display: inline;

            @include breakpoint(md) {
                display: none;
            }
        }

        h2 {
            margin: 0;

            br {
                display: none;

                @include breakpoint(md) {
                    display: inline;
                }
            }

            &:after {
                content: '';
                display: block;
                margin: 1rem auto 1.5rem;
                width: 2rem;
                height: 3rem;

                background: {
                    image: url('../img/divider.svg');
                    size: contain;
                    repeat: no-repeat;
                    position: center;
                }
            }
        }

        h5 {
            margin: 0 0 1.5em 0;
        }

        &.align-left {

            @include breakpoint(md) {
                align-items: flex-start;
                text-align: left;

                h2 {
                    &::after {
                        margin: 1rem 0 3.5rem;
                    }
                }
            }
        }
    }
}

@import "_homepage";


// Footer

@import "_footer";