//  ________  ________  ________  ___  ________     
// |\   __  \|\   __  \|\   ____\|\  \|\   ____\    
// \ \  \|\ /\ \  \|\  \ \  \___|\ \  \ \  \___|    
//  \ \   __  \ \   __  \ \_____  \ \  \ \  \       
//   \ \  \|\  \ \  \ \  \|____|\  \ \  \ \  \____  
//    \ \_______\ \__\ \__\____\_\  \ \__\ \_______\
//     \|_______|\|__|\|__|\_________\|__|\|_______|
//                        \|_________|              


html {
	font-size: 14px;

	@include breakpoint(md) {
		font-size: 15px;
	}
}

body {
	background-color: $color-background;

	font-family: 'Muli', sans-serif;
	line-height: 1.5;
	color: $color-text-regular;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-stroke-width: 0.2px;

	&.page-home {
		background-color: white;
	}

	&.logged-in {
		.logged-in {
			display: initial;
		}

		.logged-out {
			display: none !important;
		}
	}

	&.logged-out {
		.logged-out {
			display: initial;
		}

		.logged-in {
			display: none !important;
		}
	}
}

* {
	box-sizing: border-box;
	z-index: 1;
	outline: 0 !important;
}

a {
	color: inherit;
	text-decoration: none;
}
