//  ________  ___  ___  _________  _________  ________  ________      
// |\   __  \|\  \|\  \|\___   ___\\___   ___\\   __  \|\   ___  \    
// \ \  \|\ /\ \  \\\  \|___ \  \_\|___ \  \_\ \  \|\  \ \  \\ \  \   
//  \ \   __  \ \  \\\  \   \ \  \     \ \  \ \ \  \\\  \ \  \\ \  \  
//   \ \  \|\  \ \  \\\  \   \ \  \     \ \  \ \ \  \\\  \ \  \\ \  \ 
//    \ \_______\ \_______\   \ \__\     \ \__\ \ \_______\ \__\\ \__\
//     \|_______|\|_______|    \|__|      \|__|  \|_______|\|__| \|__|


.buttons {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	>*+* {
		margin-left: 1rem;
	}
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.5rem;
	height: 3rem;
	transition: .25s all ease;
	white-space: nowrap;
	user-select: none;
	cursor: pointer;

	@include ui-border-radius;

	&.is-disabled {
		opacity: .5;
		cursor: default;
		pointer-events: none;
	}

	&.small {
		height: 2rem;
		font-size: .85rem;
		padding: 0 1rem;
	}

	&.ghost {
		@include ui-border;
		border-color: currentColor;

		background-color: transparent;

		&.white {
			border-color: white;
			color: white;
		}
	}

	&.centered {
		display: flex;
		margin: 1rem auto;
		width: 70%;
		max-width: 15rem;
	}

	&.full {
		width: 100%;
	}

	&.half {
		width: calc(50% - .5rem);
	}

	&.solid {
		@include ui-shadow;

		border: 0;

		background: {
			color: $color-text-regular;
		}

		color: white !important;

		&.white {
			background: {
				color: white;
			}

			@include ui-border;

			color: $color-text-regular !important;
		}

		&:hover {
			background: {
				color: color(darker);
			}
		}
	}

	&.ui {
		@include ui-border;
		@include ui-border-radius;
		@include ui-shadow;

		background-color: white;
	}

	&.hollow {
		border: .1em solid color(primary);
		color: color(primary);

		&:hover {
			background: {
				color: color(primary);
			}

			color: white;
		}
	}

	&.small-text {
		i {
			font-size: 1rem;
		}
	}

	&.submenu {
		position: relative;

		background-image: url('../../img/layout/icons/arrow-down.svg');
		background-repeat: no-repeat;
		background-position: center right 1rem;
		background-size: .5rem auto;

		padding-right: 3.5rem;

		&:before {
			content: '';
			display: block;
			background: white;
			height: 10px;
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 2;
			right: 0;

			@include ui-border-radius;
		}

		.submenu-content {
			display: none;

			position: absolute;
			top: 90%;
			right: -1px;
			min-width: calc(120% + 2px);
			max-width: 150%;
			padding: 1rem;

			@include ui-border;
		}

		&:hover {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			.submenu-content {
				display: block;
			}
		}
	}

	&:hover {
		transition: .5s all ease;
	}
}





.toggle-switch {
	position: relative;
	display: inline-block;
	width: 2.5rem;
	height: 1.5rem;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		align-items: center;
		justify-content: flex-start;

		padding: .25rem;

		background-color: $color-border;
		border-radius: .75rem;

		transition: all .5s;

		&:before {
			content: '';
			position: relative;

			display: block;
			height: 1rem;
			width: 1rem;

			background-color: white;
			border-radius: 50%;
		}
	}

	input:checked+.slider {
		justify-content: flex-end;
		background-color: $color-text-regular;
	}
}
