.card-gallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;

	@include breakpoint(sm) {
		grid-template-columns: 1fr 1fr;
	}

	@include breakpoint(md) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.page-card {
	padding: 9rem 0;

	>.container {
		max-width: 748px;
		padding: 0 2rem;

		@include breakpoint(sm) {
			padding: 0;
		}

		>h3 {
			margin-top: 6rem;
			margin-bottom: 1.5rem;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.card-gallery {
		@include breakpoint(sm) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.modal {
		background: white;
	}
}

.card {
	position: relative;

	@include ui-border;
	@include ui-border-radius;
	@include ui-shadow;

	width: 100%;

	@include breakpoint(sm) {
		padding-top: 150%;
	}

	.card-image {
		display: block;
		width: 100%;
		height: 60vw;

		background-color: $color-background;
		background-image: url('./../img/layout/card/background.svg');
		background-size: cover;
		background-position: bottom center;

		border-bottom: 1px solid $color-border;

		@include breakpoint(sm) {
			position: absolute;
			top: 0;
			left: 0;

			height: 50%;
		}

		img {
			position: absolute;
			top: 0;

			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;

			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.card-image-upload {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			input[type=file] {
				width: 0;
				height: 0;
			}

			label {
				position: absolute;
				top: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				height: 100%;
				width: 100%;

				user-select: none;

				&:hover {
					cursor: pointer;
				}

				span {
					@include small-text;
					margin-top: .5rem;
				}
			}
		}
	}

	.card-icon {
		position: absolute;
		top: 1rem;
		left: 1rem;
		z-index: 2;

		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;

		height: 2.5rem;

		@include ui-border;
		@include ui-border-radius;
		@include ui-shadow;

		padding: 1rem;

		&:before {
			content: '';
			display: block;
			width: 1rem;
			height: 1rem;

			margin-right: .5rem;

			background-image: url('../../img/layout/card/icon.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		&:after {
			content: 'Thẻ bài';
			@include small-text;
		}
	}

	.card-amount {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 2;

		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;

		height: 2.5rem;
		width: 3rem;

		@include ui-border;
		@include ui-border-radius;
		@include ui-shadow;

		// border-right: 0;
		// border-top: 0;
		// border-bottom-right-radius: 0;
		// border-top-left-radius: 0;

		padding: 0 .75rem;

		// color: $color-text-light;
		font-size: .75rem;

		&:before {
			content: 'x'
		}
	}

	.card-info {
		display: block;
		width: 100%;
		padding: 1rem;
		padding-bottom: 1.5rem;

		@include ui-border-radius;

		background-color: white;

		@include breakpoint(sm) {
			position: absolute;
			bottom: 0;
			height: 50%;
		}

		p {
			position: relative;

			display: block;
			margin-top: .25rem;
			hyphens: auto;

			@include breakpoint(sm) {
				height: 6rem;
				max-height: 6rem;
				overflow: hidden;
			}
		}
	}

	.card-action {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;

		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;

		background-color: white;

		width: 100%;
		height: 100%;

		visibility: hidden;
		opacity: 0;

		transition: all .25s;

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			width: 100%;

			color: $color-text-light;

			+a {
				margin-top: 1.5rem;
			}

			i {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 3rem;
				height: 3rem;

				@include ui-border;
				border-radius: 50%;

				transition: all .25s;
			}

			span {
				margin-top: .5rem;
				@include small-text;

				transition: all .25s;
			}

			&:hover {
				i {
					background-color: $color-background;
					color: $color-text-regular;
					@include ui-shadow;
				}

				span {
					color: $color-text-regular;
				}
			}
		}
	}

	&.card-empty {
		.card-info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	&:hover {
		.card-action {
			visibility: visible;
			opacity: 1;
		}
	}


	// Cards Icon and Background

	&.card-place {
		.card-image {
			background-image: url('./../img/layout/card/background-place.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-place.svg');
			}

			&:after {
				content: 'Nơi chốn';
			}
		}
	}

	&.card-challenge {
		.card-image {
			background-image: url('./../img/layout/card/background-challenge.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-challenge.svg');
			}

			&:after {
				content: 'Thử thách';
			}
		}

		.challenge-progress {
			position: absolute;
			bottom: -1px;
			right: 1rem;

			display: flex;
			align-items: center;
			justify-content: center;

			height: 10px;
			width: calc(100% - 2rem);

			@include ui-border;
			@include ui-border-radius;

			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			>span {
				display: block;
				width: 100%;
				height: 100%;

				&+span {
					border-left: 1px solid $color-border;
				}

				&.is-completed {
					background-color: rgba($color-border, .5);
				}
			}
		}

		.challenge-result {
			padding-bottom: .5rem;

			>.result {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				strong {
					margin-right: .5rem;
				}

				>span {
					display: inline-flex;
					align-items: center;
					justify-content: center;

					&:before {
						content: '';
						display: inline-block;
						width: 1rem;
						height: 1rem;

						background-image: url('../../img/layout/card/result.svg');
						background-size: contain;
						background-position: center;
					}

					&:after {
						content: 'Chưa xác định';
						@include small-text;
						margin-left: .25rem;
					}
				}
			}

			>ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin-top: .75rem;
					opacity: .25;
					font-size: .85rem;

					&.is-selected {
						opacity: 1;
					}
				}

				h5 {
					display: inline;

					&:after {
						content: ': ';
					}
				}

				p {
					display: inline;
				}
			}
		}

		&.card-challenge-result-strong {
			.challenge-result {
				>.result {
					>span {
						&:before {
							background-image: url('../../img/layout/card/result-strong.svg');
						}

						&:after {
							content: 'Mạnh';
						}
					}
				}

				.result-strong {
					opacity: 1;
				}
			}
		}

		&.card-challenge-result-weak {
			.challenge-result {
				>.result {
					>span {
						&:before {
							background-image: url('../../img/layout/card/result-weak.svg');
						}

						&:after {
							content: 'Yếu';
						}
					}
				}

				.result-weak {
					opacity: 1;
				}
			}
		}
	}

	&.card-nature {
		.card-image {
			background-image: url('./../img/layout/card/background-nature.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-nature.svg');
			}

			&:after {
				content: 'Bản chất';
			}
		}
	}

	&.card-strong {
		.card-image {
			background-image: url('./../img/layout/card/background-strong.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-strong.svg');
			}

			&:after {
				content: 'Điểm mạnh';
			}
		}
	}

	&.card-weak {
		.card-image {
			background-image: url('./../img/layout/card/background-weak.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-weak.svg');
			}

			&:after {
				content: 'Điểm yếu';
			}
		}
	}

	&.card-motivation {
		.card-image {
			background-image: url('./../img/layout/card/background-motivation.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-motivation.svg');
			}

			&:after {
				content: 'Động lực';
			}
		}
	}

	&.card-item {
		.card-image {
			background-image: url('./../img/layout/card/background-item.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-item.svg');
			}

			&:after {
				content: 'Vật phẩm';
			}
		}
	}

	&.card-target {
		.card-image {
			background-image: url('./../img/layout/card/background-target.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-target.svg');
			}

			&:after {
				content: 'Mục tiêu';
			}
		}
	}

	&.card-character {
		.card-image {
			background-image: url('./../img/layout/card/background-character.svg');
			padding-top: 100%;
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-character.svg');
			}

			&:after {
				content: 'Nhân vật';
			}
		}

		.card-info {
			height: calc(100% / 3);

			.short-description {
				color: $color-text-light;
			}

			p {
				max-height: calc(100% - 2.5rem);
			}
		}
	}


	// Card Multiple

	&.card-multiple {
		&:before {
			content: '';
			position: absolute;
			top: -5px;
			left: .5rem;

			display: block;

			@include ui-border;
			@include ui-border-radius;

			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			background-color: $color-background;

			width: calc(100% - 1rem);
			height: 5px;
		}
	}

	&.card-create {
		border-style: dashed;
		background-color: transparent;

		.card-action {
			background-color: transparent;

			visibility: visible;
			opacity: 1;
		}
	}

	&.card-disabled {
		opacity: .5;
		pointer-events: none;
	}
}

.modal-card {
	display: grid !important;
	grid-template-columns: 1fr;

	width: 90vw;
	max-width: 45rem;

	padding-top: unset;

	@include breakpoint(sm) {
		grid-template-columns: 1fr 1fr;
	}

	.card-image {
		position: relative;
		height: 75%;
		padding-top: 75%;
		border-bottom: 1px solid $color-border;

		@include breakpoint(sm) {
			position: relative;
			height: 100%;
			padding-top: 100%;

			border-bottom: 0;
			border-right: 1px solid $color-border;
		}
	}

	.card-info {
		position: relative;
		height: 100%;

		p {
			@include breakpoint(sm) {
				height: unset;
				max-height: unset;
			}
		}

		h3 {
			border-bottom: 1px solid $color-border;
			margin-bottom: .5rem;
			padding-bottom: .25rem;
		}
	}
}
