.card-gallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;

	@include breakpoint(sm) {
		grid-template-columns: 1fr 1fr;
	}

	@include breakpoint(md) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&.is-column-4 {
		@include breakpoint(md) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
}

.page-card {
	padding: 9rem 0;

	>.container {
		max-width: 748px;
		padding: 0 2rem;

		@include breakpoint(sm) {
			padding: 0;
		}

		>h3 {
			margin-top: 6rem;
			margin-bottom: 1.5rem;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.card-gallery {
		@include breakpoint(sm) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	// .modal {
	// 	background: white;
	// }
}

.card {
	position: relative;

	display: grid;
	grid-template-columns: 1fr;

	@include ui-border;
	@include ui-border-radius;
	@include ui-shadow;

	width: 100%;

	@include breakpoint(sm) {
		padding-top: 150%;
	}

	.card-image {
		display: block;
		width: 100%;
		height: 60vw;

		background-color: $color-background;
		background-image: url('./../img/layout/card/background.svg');
		background-size: cover;
		background-position: bottom center;

		@include ui-border;
		border-width: 0 0 1px 0;

		@include breakpoint(sm) {
			position: absolute;
			top: 0;
			left: 0;

			height: 50%;
		}

		img {
			position: relative;
			top: 0;

			display: block;

			width: 100%;
			height: 100%;

			object-fit: cover;

			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.card-image-upload {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			input[type='file'] {
				width: 0;
				height: 0;
			}

			label {
				position: absolute;
				top: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				height: 100%;
				width: 100%;

				user-select: none;

				&:hover {
					cursor: pointer;
				}

				span {
					@include small-text;
					margin-top: .5rem;
				}
			}
		}
	}

	.dropdown.card-dropdown {

		.dropdown-menu {
			z-index: 6;
			top: 4rem;
			right: unset;
			left: 1rem;
		}
	}

	.card-icon {
		position: absolute;
		top: 1rem;
		left: 1rem;
		z-index: 5;


		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;

		height: 2.5rem;

		@include ui-border;
		@include ui-border-radius;
		@include ui-shadow;

		background-color: white;

		padding: 1rem;

		&:before {
			content: '';
			display: block;
			width: 1rem;
			height: 1rem;

			margin-right: .5rem;

			background-image: url('../../img/layout/card/icon.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		&:after {
			content: 'Thẻ bài';
			@include small-text;
		}
	}

	.card-amount {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 2;

		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;

		height: 2.5rem;
		width: 3rem;

		@include ui-border;
		@include ui-border-radius;
		@include ui-shadow;

		background-color: white;

		// border-right: 0;
		// border-top: 0;
		// border-bottom-right-radius: 0;
		// border-top-left-radius: 0;

		padding: 0 .75rem;

		// color: $color-text-light;
		font-size: .75rem;

		&:before {
			content: 'x';
		}
	}

	.card-info {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 1rem;
		padding-bottom: 1.5rem;

		@include ui-border-radius;

		background-color: white;

		@include breakpoint(sm) {
			position: absolute;
			bottom: 0;
			height: 50%;
		}

		p {
			position: relative;

			display: block;
			margin-top: .25rem;
			hyphens: auto;

			@include breakpoint(sm) {
				height: 6rem;
				max-height: 6rem;
				overflow: hidden;
			}
		}
	}

	.card-action {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;

		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;

		background-color: white;

		width: 100%;
		height: 100%;

		visibility: hidden;
		opacity: 0;

		transition: all .25s;

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			width: 100%;

			color: $color-text-light;

			+a {
				margin-top: 1.5rem;
			}

			i {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 3rem;
				height: 3rem;

				@include ui-border;
				border-radius: 50%;

				transition: all .25s;
			}

			span {
				margin-top: .5rem;
				margin-left: 0;
				@include small-text;

				transition: all .25s;
			}

			&:hover {
				i {
					background-color: $color-background;
					color: $color-text-regular;
					@include ui-shadow;
				}

				span {
					color: $color-text-regular;
				}
			}
		}
	}

	&.is-selected {
		box-shadow: 0 0 0 2px rgba($color-primary, 1);

		&:before {
			content: '\f00c';
			font-family: 'Font Awesome 5 Pro';
			font-weight: 400;

			position: absolute;
			bottom: -1rem;
			left: 50%;
			z-index: 2;

			display: flex;
			align-items: center;
			justify-content: center;

			color: $color-primary;

			width: 2rem;
			height: 2rem;

			border-radius: 50%;

			background-color: white;
			border: 3px solid $color-primary;

			transform: translateX(-50%);
		}
	}

	&.card-horizontal {
		@include breakpoint(sm) {
			padding-top: 37.5%;

			.card-image {
				height: 100%;
				width: 50%;

				border-width: 0 1px 0 0;
			}

			.card-info {
				right: 0;

				height: 100%;
				width: 50%;
			}

			.card-action {
				flex-direction: row;

				a+a {
					margin-top: 0;
				}
			}
		}
	}

	&:hover {
		.card-action {
			visibility: visible;
			opacity: 1;
		}
	}

	// Cards Icon and Background

	&.card-place {
		.card-image {
			background-image: url('./../img/layout/card/background-place.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-place.svg');
			}

			&:after {
				content: 'Nơi chốn';
			}
		}
	}

	&.card-selectable {
		.card-image {
			background-image: url('./../img/layout/card/background.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon.svg');
			}

			&:after {
				content: 'Chọn loại thẻ bài';
			}
		}
	}

	&.card-obstacle {
		.card-image {
			background-image: url('./../img/layout/card/background-obstacle.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-obstacle.svg');
			}

			&:after {
				content: 'Thử thách';
			}
		}

		&.card-obstacle-character {
			.card-icon {
				&:before {
					background-image: url('../../img/layout/card/icon-character.svg');
				}

				&:after {
					content: 'Nhân vật';
				}
			}
		}

		.challenge-progress {
			position: absolute;
			bottom: 0;
			right: 1rem;

			height: 10px;
			width: calc(100% - 2rem);

			border-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	&.card-nature {
		.card-image {
			background-image: url('./../img/layout/card/background-nature.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-nature.svg');
			}

			&:after {
				content: 'Bản chất';
			}
		}
	}

	&.card-strong {
		.card-image {
			background-image: url('./../img/layout/card/background-strong.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-strong.svg');
			}

			&:after {
				content: 'Điểm mạnh';
			}
		}
	}

	&.card-weak {
		.card-image {
			background-image: url('./../img/layout/card/background-weak.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-weak.svg');
			}

			&:after {
				content: 'Điểm yếu';
			}
		}
	}

	&.card-subplot {
		.card-image {
			background-image: url('./../img/layout/card/background-subplot.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-subplot.svg');
			}

			&:after {
				content: 'Động lực';
			}
		}
	}

	&.card-asset {
		.card-image {
			background-image: url('./../img/layout/card/background-asset.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-asset.svg');
			}

			&:after {
				content: 'Vật phẩm';
			}
		}
	}

	&.card-goal {
		.card-image {
			background-image: url('./../img/layout/card/background-goal.svg');
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-goal.svg');
			}

			&:after {
				content: 'Mục tiêu';
			}
		}
	}

	&.card-character {
		.card-image {
			background-image: url('./../img/layout/card/background-character.svg');

			@include breakpoint(sm) {
				height: calc(100% / 3 * 2);
			}
		}

		.card-icon {
			&:before {
				background-image: url('../../img/layout/card/icon-character.svg');
			}

			&:after {
				content: 'Nhân vật';
			}
		}

		.card-info {
			@include breakpoint(sm) {
				height: calc(100% / 3);
			}

			.short-description {
				color: $color-text-light;
			}

			p {
				max-height: calc(100% - 2.5rem);
			}
		}
	}

	// Card Multiple

	&.card-multiple {
		&:before {
			content: '';
			position: absolute;
			top: -5px;
			left: .5rem;

			display: block;

			@include ui-border;
			@include ui-border-radius;

			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			background-color: $color-background;

			width: calc(100% - 1rem);
			height: 5px;
		}
	}

	&.card-create {
		border-style: dashed;
		background-color: transparent;

		.card-icon {
			display: none;

			&:before {
				background-image: url('../../img/layout/card/icon-create.svg');
			}

			&:after {
				content: 'Tạo thẻ';
			}
		}

		.card-action {
			background-color: transparent;

			visibility: visible;
			opacity: 1;
		}
	}

	&.card-disabled {
		opacity: .5;
		pointer-events: none;
	}
}

span.card-icon {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	line-height: 1;
	vertical-align: text-bottom;

	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: center;

	&.card-place {
		background-image: url('./../img/layout/card/icon-place.svg');
	}

	&.card-obstacle {
		background-image: url('./../img/layout/card/icon-obstacle.svg');
	}

	&.card-character {
		background-image: url('./../img/layout/card/icon-character.svg');
	}

	&.card-asset {
		background-image: url('./../img/layout/card/icon-asset.svg');
	}

	&.card-goal {
		background-image: url('./../img/layout/card/icon-goal.svg');
	}
}

.modal-card {
	display: grid !important;
	grid-template-columns: 1fr;

	width: 90vw;
	max-width: 45rem;

	padding-top: unset;

	@include breakpoint(sm) {
		grid-template-columns: 1fr 1fr;
	}

	.card-image {
		position: relative;
		height: 75%;
		padding-top: 75%;
		border-bottom: 1px solid $color-border;

		@include breakpoint(sm) {
			position: relative;
			height: 100%;
			padding-top: 100%;

			border-bottom: 0;
			border-right: 1px solid $color-border;
		}

		img {
			position: absolute;
		}
	}

	.card-info {
		position: relative;
		height: 100%;

		p {
			@include breakpoint(sm) {
				height: unset;
				max-height: unset;
			}
		}

		h3 {
			border-bottom: 1px solid $color-border;
			margin-bottom: .5rem;
			padding-bottom: .25rem;
		}
	}
}

.card-list {
	display: grid;
	grid-gap: .5rem;
	grid-auto-rows: minmax(min-content, max-content);

	overflow: auto;

	.card {
		padding-top: unset;

		display: flex;
		align-items: center;
		justify-content: flex-start;

		height: 3rem;

		&:hover {
			background-color: rgba($color-border, .25);
		}

		&.is-selected {
			background-color: rgba($color-border, .5);
		}

		.card-icon {
			position: relative;
			top: unset;
			left: unset;

			border: none;
			border-radius: none;
			box-shadow: none;
			background: transparent;

			&:before {
				margin: 0;
			}

			&:after {
				display: none;
			}
		}
	}
}

.card-stack {
	display: grid;
	grid-gap: .5rem;
	grid-auto-rows: minmax(min-content, max-content);

	.card {
		padding-top: unset;

		display: flex;
		align-items: center;
		justify-content: flex-start;

		height: 3rem;

		border: none;
		border-radius: none;
		box-shadow: none;
		background: transparent;

		cursor: pointer;

		.card-icon {
			position: relative;
			top: unset;
			left: unset;

			height: 3rem;
			width: 3rem;

			margin-right: .5rem;

			&:before {
				margin: 0;
			}

			&:after {
				display: none;
			}
		}

		.card-amount {
			top: unset;
			right: .5rem;

			border: none;
			border-radius: none;
			box-shadow: none;
			background: transparent;
		}

		&:hover {
			.card-icon {
				background-color: rgba($color-border, .25);
			}
		}

		&.card-create {
			.card-icon {
				display: block;
				border-style: dashed;
			}

			.card-name {
				color: $color-text-light;
			}
		}
	}
}

.modal-card-action {
	display: grid !important;
	grid-template-columns: 1fr;

	width: 90vw;
	max-width: 45rem;

	padding-top: unset;

	@include breakpoint(sm) {
		grid-template-columns: 1fr 1fr;
	}

	.modal-panel-options {
		display: flex;
		flex-direction: column;

		padding: 1rem;

		@include breakpoint(sm) {
			padding: 1rem 2rem;
		}

		>.title {
			h3 {
				border-bottom: 1px solid $color-border;
				margin-bottom: .5rem;
				padding-bottom: .25rem;
			}

			p {
				color: $color-text-light;
				margin-top: 0;
				margin-bottom: 1rem;
			}

			+.content {
				margin-top: .5rem;
			}
		}

		>.content {
			display: grid;
			grid-gap: 1rem;
			grid-auto-rows: minmax(min-content, max-content);

			padding: 0;

			.title {
				h4 {
					font-size: 1rem;
				}

				p {
					font-size: .85rem;
					color: $color-text-light;

					margin-top: .25rem;
				}

				+.content {
					margin-top: .5rem;
				}
			}

			.content {
				padding: 0;
			}
		}

		>a {
			margin-top: auto;
		}

		.challenge-results {
			.content {
				>*+* {
					margin-top: .5rem;
				}
			}

			textarea {
				margin-top: .5rem;
			}
		}
	}

	.modal-panel-preview {
		display: none;

		@include breakpoint(sm) {
			display: initial;
		}

		.card {
			border-width: 0 0 0 1px;
			border-radius: 0;

			.card-info {
				p {
					height: unset;
					max-height: 10.5em;
					overflow: auto;
				}
			}
		}
	}

	.counter {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		.title {
			h4 {
				font-size: 1rem;
			}

			p {
				font-size: .85rem;
				color: $color-text-light;

				margin-top: .25rem;
			}
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: center;

			padding: 0;
			margin-left: 1rem;
		}

		&-plus,
		&-minus {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 2rem;
			height: 2rem;

			@include ui-border;
			@include ui-border-radius;
			@include ui-shadow;
			@include small-text;

			cursor: pointer;

			&:hover {
				background-color: $color-border;
			}
		}

		&-value {
			display: block;

			width: 2.5rem;

			text-align: center;
		}
	}

	.obstacle-result {
		display: grid;
		grid-gap: 1rem;
		grid-auto-rows: minmax(min-content, max-content);

		margin-top: 0;

		div[class*="result-"] {
			display: grid;
			grid-gap: .5rem;
			grid-auto-rows: minmax(min-content, max-content);
		}
	}

	.asset-recipient-results {
		display: none;

		@include ui-border;
		@include ui-border-radius;

		border-color: $color-text-light;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		background-color: white;

		margin-top: -0.25rem;

		max-height: 6rem;
		overflow: auto;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			height: 3rem;
			padding: 0 .5rem;

			*+* {
				margin-left: .5rem;
			}
		}

		.character-image {
			img {
				display: block;
				width: 2rem;
				height: 2rem;
				object-fit: cover;
				@include ui-border;
				@include ui-border-radius;
			}
		}

		.character-name {
			font-weight: 600;
		}

		.character-user {
			margin-left: auto;
			font-size: .85rem;
			color: $color-text-light;
		}
	}

	.dev {
		.asset-recipient-search {
			&:focus {
				~.asset-recipient-results {
					display: block;
				}
			}
		}
	}
}

.challenge-progress {

	display: flex;
	align-items: center;
	justify-content: center;

	height: 11px;
	width: 100%;

	@include ui-border;
	@include ui-border-radius;

	>span {
		display: block;
		width: 100%;
		height: 100%;

		&+span {
			border-left: 1px solid $color-border;
		}

		&.is-completed {
			background-color: rgba($color-border, .5);
		}
	}
}

.challenge-result {
	>.title {
		p {
			font-size: .75rem;
		}
	}

	>.result {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		strong {
			margin-right: .5rem;
		}

		>span {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			&:before {
				content: '';
				display: inline-block;
				width: 1rem;
				height: 1rem;

				background-image: url('../../img/layout/card/result.svg');
				background-size: contain;
				background-position: center;
			}

			&:after {
				content: 'Chưa xác định';
				@include small-text;
				margin-left: .25rem;
			}
		}
	}

	>ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-top: .75rem;
			opacity: 1;
			font-size: .85rem;

			&.is-selected {
				opacity: 1;
			}
		}

		h5 {
			display: inline;

			&:after {
				content: ': ';
			}
		}

		p {
			display: inline;
		}
	}

	&.is-strong {
		>.result {
			>span {
				&:before {
					background-image: url('../../img/layout/card/result-strong.svg');
				}

				&:after {
					content: 'Mạnh';
				}
			}
		}

		.result-weak {
			opacity: .25;
		}
	}

	&.is-weak {
		>.result {
			>span {
				&:before {
					background-image: url('../../img/layout/card/result-weak.svg');
				}

				&:after {
					content: 'Yếu';
				}
			}
		}

		.result-strong {
			opacity: .25;
		}
	}
}
