#footer {
	padding: 1rem 5vw;

	@include breakpoint(md) {
		padding: 2rem 5vw;
	}

	p {
		margin: 0;
	}

	.footer {
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		@include breakpoint(md) {
			align-items: flex-end;
			justify-content: space-between;
			flex-direction: row;
		}

		.footer--left {
			margin-bottom: 1rem;

			@include breakpoint(md) {
				margin-bottom: 0;
			}
		}

		.footer--right {
			max-width: 35rem;
			text-align: left;

			@include breakpoint(md) {
				text-align: right;
			}
		}
	}
}
