.form-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	width: 100%;

	.form-label {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		margin-bottom: 1rem;

		>* {
			margin: 0;
		}
	}

	.form-value {
		width: 100%;

		.input-limit {
			float: right;

			font-size: 0.75rem;
			color: $color-text-light;

			margin-top: 0.75rem;
		}
	}

	+.form-item {
		margin-top: 1rem;
	}

	&:before {
		content: '';
		display: block;

		height: 1px;
		width: calc(100% + 2rem);

		margin-left: -1rem;
		margin-bottom: 1rem;

		background-color: $color-border;
	}

	input[type=text],
	textarea {
		width: 100%;
	}
}
