.post {
	// TITLE

	>.title {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		min-height: 4.5rem;
	}

	.character-avatar {
		margin: 0.25rem 1rem 0.25rem 0;

		img {
			display: block;

			width: 4rem;
			height: 4rem;

			object-fit: cover;

			@include ui-border-radius;
			@include ui-shadow;
		}
	}

	.character-info {
		display: flex;
		flex-direction: column;

		.character-name {
			font-weight: bold;
		}

		.character-user {
			font-size: 0.85rem;
			color: $color-text-light;
		}
	}

	// CONTENT

	>.content {
		display: grid;
		grid-gap: 1rem;
		grid-auto-rows: minmax(min-content, max-content);

		@include breakpoint(sm) {
			display: block;
		}
	}

	//// Post Cover

	.cover {
		grid-area: postCover;

		position: relative;

		display: block;

		width: calc(100% + 2rem);
		height: 15rem;

		margin: -1rem -1rem 1rem;

		@include ui-border;
		border-width: 0 0 1px 0;

		background-color: rgba($color-border, 0.5);

		img {
			display: block;
			width: 100%;
			height: 100%;

			object-fit: cover;
		}

		&.image-upload {
			img {
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&.auto-height {
			height: auto;
		}

		.chapter-name {
			position: absolute;
			bottom: 0.75rem;
			left: 1rem;
			z-index: 3;

			color: white;

			text-shadow: 0 1px 4px rgba($color-text-regular, 0.25);

			h5 {
				&:after {
					content: '';

					display: block;
					height: 2px;
					width: 3rem;

					margin-top: 0.25rem;

					background-color: white;
				}
			}

			h3 {
				margin-top: 0.5rem;
			}
		}
	}

	&.post-first {
		@include ui-border-radius;

		.cover {
			height: 22.5rem;

			img {
				@include ui-border-radius;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;

				display: block;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(rgba($color-text-regular, 0) 50%,
						rgba($color-text-regular, 0.5) 100%);
				z-index: 2;
			}
		}
	}

	//// Post Card Stacks

	.card-stacks {
		grid-area: cardStacks;

		display: block;

		margin: 0 -1rem;
		padding: 1rem;

		@include ui-border;
		border-width: 1px 0 1px 0;

		@include ui-shadow;

		@include breakpoint(sm) {
			float: right;

			position: relative;
			z-index: 2;

			margin: -6rem 0 1rem 1.5rem;
			width: 20rem;

			border-width: 1px;
			@include ui-border-radius;

			background-color: white;
		}
	}

	.cover~.card-stacks {
		@include breakpoint(sm) {
			margin: -3rem 0 1rem 1.5rem;
		}
	}

	//// Post Content

	.post-content {
		grid-area: postContent;

		hyphens: auto;
		text-align: justify;
	}

	//// Card History

	.card-history {
		grid-area: cardHistory;
	}

	// POST-TYPE

	&.post-narrator {

		>.content {
			grid-template-areas: 'postCover''postContent''cardHistory''cardStacks';
		}

		.card-stacks {
			margin-bottom: -1rem;

			@include breakpoint(sm) {
				margin: -4.5rem 0 1rem 1.5rem;
			}
		}

		.cover~.card-stacks {
			@include breakpoint(sm) {
				margin: -3rem 0 1rem 1.5rem;
			}
		}
	}

	&.post-player {
		>.content {
			grid-template-areas: 'postCover''cardStacks''postContent''cardHistory';
		}

		@include breakpoint(sm) {
			width: calc(100% - 3rem);
			margin-left: 3rem;
		}

		.card-stacks {
			@include breakpoint(xs) {
				margin-top: calc(-2rem - 1px);
			}
		}
	}
}

.post-editor {
	.cover {
		img {
			border-radius: 0 !important;
		}

		&:before {
			background-image: none !important;
		}
	}

	.card-stacks {
		.card-play {
			display: none;
		}

		.card-challenge {
			&.is-selected {
				~.card-play {
					display: initial;
				}
			}
		}
	}

	&.post-player {
		@include breakpoint(sm) {
			width: 100% !important;
			margin-left: 0 !important;
		}
	}
}

.post-actions {
	display: flex;
	order: -1;

	@include breakpoint(md) {
		order: unset;
	}

	>* {
		&:first-child {
			margin-right: auto;
		}

		+* {
			margin-left: 0.5rem;
		}
	}
}

.card-panel {
	>.content {
		padding: 0;
	}

	.tabs {
		background-color: rgba($color-border, 0.25);

		.tab {
			span {
				display: none;

				@include breakpoint(sm) {
					display: initial;
				}
			}
		}
	}

	.tab-content {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		grid-template-areas: 'info''list''preview';

		@include breakpoint(sm) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas: 'info info info''list preview preview';
		}
	}

	.card-panel-info {
		grid-area: info;

		h3 {
			border-bottom: 1px solid $color-border;
			margin-bottom: 0.5rem;
			padding-bottom: 0.25rem;
		}
	}

	.card-panel-list {
		display: grid;
		grid-gap: 1rem;
		grid-auto-rows: minmax(min-content, max-content);
		grid-area: list;

		.card-list {
			max-height: 21rem;

			@include breakpoint(sm) {
				max-height: 10rem;
			}
		}

		.no-card {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			height: calc(100% - 4rem);
			min-height: 8rem;

			@include ui-border;
			@include ui-border-radius;

			border-style: dashed;

			&:before {
				content: 'Chưa có thẻ bài nào';
				@include small-text;
				color: $color-text-light;
			}
		}
	}

	.card-panel-preview {
		grid-area: preview;

		.card {
			&.card-empty {
				margin-bottom: 0;
				display: none;

				@include breakpoint(sm) {
					display: block;
				}

				+.card-action {
					display: none;
				}
			}
		}

		.card-action {
			display: grid;
			grid-gap: 1rem;
			grid-auto-rows: minmax(min-content, max-content);

			margin-top: 1rem;

			.card-action-info {
				display: grid;
				grid-gap: 1rem;
				grid-auto-rows: minmax(min-content, max-content);
			}

			.card-action-buttons {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				justify-content: flex-end;

				margin: 0;
				padding: 0;

				width: 100%;

				>*+* {
					margin-left: 0.5rem;
					padding: 0;
				}

				a {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;

					width: auto;
					min-width: 3rem;
					height: 2rem;

					padding: 0 1rem;

					@include ui-border;
					@include ui-border-radius;
					@include ui-shadow;

					@include small-text;
					color: $color-text-regular;

					span {
						margin-left: 0.5rem;
						display: none;

						@include breakpoint(sm) {
							display: initial;
						}
					}

					&:first-child {
						margin-right: auto;

						span {
							display: initial;
						}
					}
				}

				.dropdown {
					.dropdown-menu {
						top: unset;
						bottom: calc(100% + 0.5rem);
					}
				}
			}
		}
	}
}

#tabNarratorCardsAssets {
	.card-panel-preview {
		.card-action {
			a {
				&:first-child {
					margin-right: unset;
				}

				&:nth-child(2) {
					margin-right: auto;

					span {
						display: initial;
					}
				}
			}
		}
	}
}

.card-history {
	padding: 0;

	.card-history-item {
		position: relative;
		padding: 0.25rem 0.75rem;
		border-left: 0.25rem solid $color-border;
		font-size: 0.85rem;

		+.card-history-item {
			margin-top: 0.5rem;
		}

		&:first-child {
			margin-top: 1rem;
		}
	}

	&.form-item {
		margin-top: 0;

		.form-value {
			padding: 0;
			margin: -1rem;

			width: calc(100% + 2rem);
		}

		.card-history-item {
			position: relative;
			padding: 1rem;
			border-left: 0.25rem solid transparent;
			font-size: 1rem;

			+.card-history-item {
				margin-top: 0;
				border-top: 0.5px solid $color-border;
			}

			.dropdown {
				opacity: 0;
				position: absolute;
				top: 0.75rem;
				right: 0.75rem;
				transition-duration: 0.25s;

				&.is-active {
					opacity: 1;
				}
			}

			&:hover {
				border-left: 0.25rem solid $color-border;
				background-color: rgba($color-background, 0.5);

				.dropdown {
					opacity: 1;
				}
			}
		}
	}
}

.card-stacks {
	.card-challenge {

		+.card-play,
		+.card-available {
			&:before {
				content: '';
				display: block;
				width: calc(100% + 2rem);
				height: 1px;
				margin: 1rem -1rem;
				background-color: $color-border;
			}
		}
	}
}

.setting-item {
	position: relative;

	display: grid;

	margin-left: -1rem;
	margin-right: -1rem;
	padding: 1rem;

	&:hover {
		background-color: rgba($color-background, 0.5);
	}

	&:first-child {
		margin-top: -1rem;
	}

	&:last-child {
		margin-bottom: -1rem;
	}

	&+.game--setting-item {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;

			display: block;

			width: 100%;
			height: 1px;

			background-color: $color-border;
		}
	}

	>.title {
		p {
			margin-top: 0;
			color: $color-text-light;
		}
	}

	>.content {

		input[type='text'],
		textarea {
			width: 100%;
		}

		.input-limit {
			float: right;

			font-size: 0.75rem;
			color: $color-text-light;

			margin-top: 0.75rem;
		}
	}

	&.optional {
		>.title {
			h4 {
				&:after {
					content: ' (không bắt buộc)';

					font-size: 1rem;
					color: $color-text-light;

					opacity: 0.5;
				}
			}
		}
	}

	&.full {
		>.title {
			margin-bottom: 1rem;
		}
	}

	&.list {
		>.title {
			display: flex;
			align-items: center;

			h4 {
				width: 30%;
			}

			p {
				margin-left: 2rem;
			}

			.edit {
				margin: 0;
				margin-left: auto;

				color: $color-text-light;

				cursor: pointer;
			}
		}

		&:hover {
			>.title {
				.edit {
					color: $color-text-regular;
				}
			}
		}

		>.content {
			display: none;

			.list-description {
				color: $color-text-light;
			}

			.list-content {
				margin-top: 1rem;

				select {
					width: auto;
				}
			}

			.list-action {
				margin-top: 1rem;
				text-align: center;

				* {
					&+* {
						margin-left: 0.5rem;
					}
				}
			}
		}

		.game--setting-item-lenght-custom {
			margin-top: 1rem;

			.col-3 {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				white-space: nowrap;
			}

			input {
				width: 4rem;
				margin-left: 1rem;
			}
		}

		.game--setting-item-license-pick {
			margin-top: 1rem;

			select {
				margin-top: 0.5rem;
			}
		}

		.game--setting-item-word-limit {
			margin-top: 1rem;

			.form-element {
				align-items: center;
			}

			span {
				white-space: nowrap;
			}

			input[type='number'] {
				width: 5rem;
			}
		}

		.game--setting-item-card-setting {
			padding-top: 1rem;

			>div {
				display: none;
			}

			&-custom {
				// margin-top: 1rem;

				.form-element {
					align-items: center;

					span {
						width: 100%;
					}
				}
			}
		}

		&.is-editing {
			>.title {
				h4 {
					width: 100%;
				}

				p,
				.edit {
					display: none;
				}
			}

			>.content {
				display: initial;
			}
		}

		&.is-new {
			>.title {
				h4 {
					width: 100%;
				}

				p,
				.edit {
					display: none;
				}
			}

			>.content {
				display: initial;

				.list-action {
					display: none;
				}
			}
		}
	}

	&.switch {
		grid-template-columns: 8fr 2fr;
		justify-content: space-between;
		align-items: flex-start;

		>.content {
			text-align: right;
			padding-top: 0.5rem;
		}
	}
}

.modal-card-panel {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	grid-template-areas: 'info''list''preview';

	width: 90vw;
	max-width: 45rem;

	padding: 1rem;

	@include breakpoint(sm) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 'info info info''list preview preview';
	}
}

.no-post {
	border-style: dashed;
	background: transparent;

	>.content {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 25rem;
	}
}
