.game-nav {
    position: fixed;
    top: -2rem;
    z-index: 9998;
    width: 100%;
    height: 4rem;
    display: block;
    background-color: $color-text-regular;
    color: white;
    overflow: hidden;
    border-top: 1px solid rgba($color-text-light, .25);
    transition: .5s all ease-in-out;
    @include ui-shadow;

    &-scroller {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
        overflow: auto;
        overflow-y: hidden;

        @include breakpoint(md) {
            padding: 0 5vw;
        }
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            margin: 0 1rem;
            white-space: nowrap;

            &.is-active {
                color: white;
                border-bottom-color: $color-text-light;
            }
        }

        &::last-child {
            li {
                &:last-child {
                    margin-right: 30px;

                    @include breakpoint(md) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

#game-header {
    .game-cover {
        width: 100%;
        height: 50vh;

        background: {
            color: #ddd;
            size: cover;
            position: 50% 75%;
        }

        &-overlay {
            width: 100%;
            height: 100%;

            background: {
                image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
            }
        }
    }

    .game-info {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-bottom: 1rem;
        padding: 0;
        border-radius: $var-border-radius $var-border-radius 0 0;

        @include breakpoint(md) {
            margin-bottom: 2rem;
            border-radius: $var-border-radius;
        }

        &-top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;
            flex-direction: column;

            @include breakpoint(md) {
                flex-direction: row;
            }

        }

        &-basic {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin-top: -7rem;

            @include breakpoint(md) {
                flex-direction: row;
                text-align: left;
                margin-top: 0;
            }
        }

        &-picture {
            img {
                display: block;
                width: 10rem;
                height: 10rem;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0 0 0 .25rem white;

                @include breakpoint(md) {
                    width: 7rem;
                    height: 7rem;
                }
            }
        }

        &-info {
            margin: 1rem;

            h3 {
                text-transform: capitalize;
                margin: 0;
            }

            p {
                color: $color-text-light;
                margin: 0;

                a {
                    font-weight: bold;
                }
            }
        }

        &-stats {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @include breakpoint(md) {
                align-items: flex-end;
                justify-content: flex-end;
            }

            &-counters {
                display: flex;
                align-items: center;
                justify-content: center;

                >div {
                    margin: 0 0 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    @include breakpoint(md) {
                        align-items: flex-end;
                        justify-content: flex-end;
                    }

                    &:first-child {
                        margin-right: 1rem;
                    }
                }

                span {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    &:first-child {
                        font-size: 2rem;
                        font-weight: 600;
                    }

                    &:last-child {
                        text-transform: uppercase;
                        font-size: .75rem;
                        font-weight: 800;
                        color: $color-text-light;
                    }
                }
            }

            &-rating {
                display: flex;
                align-items: center;
                justify-content: center;

                &-ranking {
                    display: inline-block;
                    height: 1rem;
                    padding: 0 .5rem;
                    border-radius: .25rem;
                    font-size: .75rem;
                    color: white;

                    background: {
                        color: $color-element-regular;
                    }
                }

                &-star {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 .5rem;

                    span {
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        margin: 0 .1rem;

                        background: {
                            image: url('../img/icons/star.svg');
                            size: contain;
                            position: center;
                        }

                        &.is-half {
                            background: {
                                image: url('../img/icons/star-is-half.svg');
                            }
                        }

                        &.is-full {
                            background: {
                                image: url('../img/icons/star-is-full.svg');
                            }
                        }
                    }
                }

                &-vote {
                    display: block;
                    font-size: .75rem;

                    &:before {
                        content: '(';
                    }

                    &:after {
                        content: ')';
                    }
                }
            }
        }

        &-bottom {
            position: relative;
            width: 100%;
            height: 4rem;
            display: block;

            overflow: hidden;

            border-top: 1px solid rgba($color-text-light, .25);


            &-scroller {
                position: absolute;
                top: 0;
                width: 100%;
                height: 5rem;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding: 0;
                overflow: auto;
                overflow-y: hidden;

                @include breakpoint(md) {
                    padding: 0 1rem;
                }
            }

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 4rem;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    margin: 0 1rem;
                    white-space: nowrap;

                    &.is-active {
                        color: $color-text-regular;
                        border-bottom-color: $color-primary;
                    }
                }

                &::last-child {
                    li {
                        &:last-child {
                            margin-right: 30px;

                            @include breakpoint(md) {
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#game-main {
    .game-content {
        img {
            @include ui-border-radius;
            @include ui-shadow;
        }
    }

    .game-section {
        // background-color: white;

        // @include ui-border;
        // @include ui-border-radius;
        // @include ui-shadow;
        // @include ui-bottom-spacing;

        // @include breakpoint(md) {
        //     background-color: transparent;

        //     @include ui-no-border;
        //     @include ui-no-border-radius;
        //     @include ui-no-shadow;
        // }

        .content {
            padding: 0 1rem;

            img {
                @include ui-border-radius;
                @include ui-shadow;
            }
        }
    }

    .game-reply {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-color: white;

        @include ui-border;
        @include ui-border-radius;
        @include ui-shadow;
        @include ui-bottom-spacing;

        @include breakpoint(md) {
            flex-direction: row;
            background-color: transparent;

            @include ui-no-border;
            @include ui-no-border-radius;
            @include ui-no-shadow;
        }

        &-user {
            width: 100%;
            display: flex;
            flex-shrink: 0;
            padding: .75rem 1rem;
            border-bottom: 1px solid rgba($color-text-light, .25);

            @include breakpoint(md) {
                width: auto;
                padding: 0;
                margin-right: 1rem;
                border-bottom: none;
            }

            img {
                display: block;
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 50%;
                flex-shrink: 0;
                @include ui-shadow;
            }

            &-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-left: 1rem;

                @include breakpoint(md) {
                    display: none;
                }

                p {
                    margin: 0;

                    &:first-child {
                        font-weight: bold;
                    }

                    &:last-child {
                        font-size: .75rem;
                        font-style: italic;
                        color: $color-text-light;
                    }
                }
            }
        }

        &-content {
            background-color: transparent;

            @include ui-no-border;
            @include ui-no-border-radius;
            @include ui-no-shadow;

            padding: 0 1rem;

            @include breakpoint(md) {
                background-color: white;

                @include ui-border;
                @include ui-border-radius;
                @include ui-shadow;
                @include ui-bottom-spacing;

            }

            &-user {
                margin-left: -1rem;
                margin-right: -1rem;
                padding: 1rem;
                border-bottom: 1px solid rgba($color-text-light, .25);
                display: none;

                @include breakpoint(md) {
                    display: flex;
                    justify-content: space-between;
                }

                div {
                    &:first-child {
                        p {
                            &:first-child {
                                font-weight: bold;
                            }

                            &:last-child {
                                font-size: .85rem;
                                color: $color-text-light;
                            }
                        }
                    }

                    &:last-child {
                        p {
                            font-size: .85rem;
                            color: $color-text-light;
                        }
                    }
                }

                p {
                    margin: 0;
                }
            }
        }

        &-reply {
            margin-left: -1rem;
            margin-right: -1rem;

            font: {
                size: .85rem;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                border-top: 1px solid rgba($color-text-light, .25);

                li {
                    padding: 1rem;
                    border-bottom: 1px solid rgba($color-text-light, .25);
                }

                p {
                    margin: 0;
                }

                .reply-author {
                    display: inline-block;
                    color: $color-text-light;

                    a {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .game-stack {
        float: right;
        top: -2rem;
        display: block;
        width: 100%;
        max-width: 300px;
        background-color: white;
        margin-left: 1rem;
        margin-bottom: 0;
        padding: 1rem;

        h5 {
            margin-top: 1.5rem;

            &:first-child {
                margin-top: 0;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

        }

        li {
            margin-bottom: .5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .game-stack-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &-icon {
                width: 3rem;
                height: 3rem;
                margin-right: .5rem;
                flex-shrink: 0;

                @include ui-border;
                @include ui-border-radius;
                @include ui-shadow;

                background: {
                    image: url('../../img/icons/obstacle.svg');
                    repeat: no-repeat;
                    size: 1rem auto;
                    position: center;
                }
            }

            .game-stack-item-info {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    margin: 0;
                }

                span {
                    font-size: .75rem;
                    color: $color-text-light;
                }
            }
        }

        .game-stack-challenges {
            >.game-stack-cards {
                margin-left: 1rem;

                .game-stack-item-icon {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }

    .game-editor-links {
        @include ui-bottom-spacing;
        order: -1;

        @include breakpoint(md) {
            order: 99;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin-right: .5rem;
                padding: .5rem 1rem;
                background-color: white;
                @include ui-border;
                @include ui-border-radius;
                @include ui-shadow;

                svg {
                    margin-right: .5rem;
                }
            }
        }
    }

    .game-main-left {
        display: flex;
        flex-direction: column;

        @include breakpoint(md) {
            padding-left: 0;
        }
    }

    .game-main-right {
        @include breakpoint(md) {
            padding-right: 0;
        }
    }

    .game-widget {

        p {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-general-info {
            ul {
                list-style: none;
                margin: .5rem 0;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        width: 50%;
                        margin: .5rem 0;

                        &:first-child {
                            text-transform: uppercase;
                            font-size: .75rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        &-player-list {

            h5 {
                letter-spacing: 0;
            }

            ul {
                list-style: none;
                margin: 1rem 0 2rem;
                padding: 0;

                &:last-child {
                    margin-bottom: 1rem;
                }

                li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    margin: 0 0 1rem 0;

                    img {
                        border-radius: 50%;
                        width: 3rem;
                        height: 3rem;
                        margin: 0 1rem 0 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                }
            }

            .info {
                p {
                    margin: 0;

                    &:last-child {
                        font-size: .75rem;
                        color: $color-text-light;
                    }
                }
            }
        }

        .accordion-list {
            >p {
                margin: 0;
                padding: 1rem 1rem 1rem 3rem;
                border-left: 4px solid transparent;
                border-bottom: 1px solid rgba($color-text-light, .25);

                background: {
                    image: url('../../img/icons/obstacle.svg');
                    repeat: no-repeat;
                    size: 1rem;
                    position: left 1rem center;
                }

                &:focus {
                    outline: none;
                }

                &:hover {
                    border-left-color: $color-primary;
                }

                &.jquery-ui-state-active {
                    border-left-color: $color-primary;
                }

                &.card-icon {
                    background-image: url('../../img/icons/card.svg');
                }
            }

            .accordion-content {
                padding: 1rem;
                background-color: rgba($color-text-light, .125);
                border-bottom: 1px solid rgba($color-text-light, .25);
            }

            .disabled {
                opacity: .25;
                user-select: none;
            }

            .process {
                text-align: center;
                text-transform: uppercase;
                font-size: .75rem;
                font-weight: 600;
                display: block;
                width: 100%;
                padding: 1rem;
                background-color: $color-primary;
                color: white;
                text-align: center;
                @include ui-border-radius;
            }
        }

        &-challenges {

            .content {
                padding: 0;
            }

            .challenge-card {
                background-color: white;
                @include ui-border;
                @include ui-border-radius;
                @include ui-shadow;
                padding: 0;

                img {
                    width: 100%;
                    height: 10rem;
                    object-fit: cover;
                    margin: 0;
                }

                .challenge-info {
                    margin: 1rem;

                    h4 {
                        line-height: 1;
                    }
                }
            }

            .challenge-result-good {
                font-weight: 600;
            }

            .challenge-process {
                text-align: center;
                text-transform: uppercase;
                font-size: .75rem;
                font-weight: 600;
                display: block;
                width: 100%;
                padding: 1rem;
                background-color: $color-primary;
                color: white;
                text-align: center;
                @include ui-border-radius;
            }
        }

        &-cards {

            .content {
                padding: 0;
            }

        }
    }
}