#nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;

	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 4.5rem;

	background-color: white;

	padding: 0 5vw;

	@include ui-border;
	@include ui-shadow;

	transition: all .5s;

	@include breakpoint(md) {
		height: 7.5rem;
	}

	>div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav--menu-toggle {
		display: initial;
		width: 3rem;
		height: 3rem;

		margin-left: -5vw;

		background: {
			image: url('../../img/layout/icons/bars.svg');
			size: 1rem auto;
			position: center;
			repeat: no-repeat;
		}

		@include breakpoint(md) {
			display: none;
		}
	}

	.nav--title {
		margin-right: 1.5rem;
	}

	.nav--title-logo {
		display: block;

		height: 4.5rem;
		width: 12rem;

		background: {
			image: url('../../img/layout/logo.svg');
			size: contain;
			position: center;
			repeat: no-repeat;
		}

		transition: all .5s;

		@include breakpoint(md) {
			width: 20rem;
		}
	}

	.nav--menu-wrapper {
		display: none;

		@include breakpoint(md) {
			display: initial;
		}
	}

	.nav--logged-out {
		display: none;

		@include breakpoint(md) {
			display: initial;
		}
	}

	ul.nav--menu-list {
		list-style: none;

		display: flex;

		margin: 0;
		padding: 0;

		li.nav--menu-link {
			margin: 0 1rem;
		}
	}

	.nav--logged-in {
		display: flex;
		align-items: center;
		justify-content: center;

		>* {
			&+* {
				margin-left: 1.5rem;
			}
		}
	}

	.nav--button-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.nav--button {
			position: relative;

			&+.nav--button {
				margin-left: 1.5rem;
			}

			i {
				font-size: 1.25rem;
			}

			&.has-notification {
				&:before {
					content: '';
					position: absolute;
					top: -0.25rem;
					left: -0.5rem;

					display: block;

					width: .5rem;
					height: .5rem;

					border-radius: 50%;

					background-color: $color-primary;
				}
			}
		}
	}

	.nav--user {
		position: relative;

		display: flex;
		align-items: center;

		@include ui-border;
		border-color: transparent;

		margin-right: -1rem;
		padding: 0 1rem;

		height: 7.5rem;

		background: none;

		cursor: pointer;

		>* {
			&+* {
				margin-left: 1rem;
			}
		}

		.profile-picture {
			img {
				width: 3rem;
				height: 3rem;
				object-fit: cover;

				display: block;

				@include ui-border-radius;

				transition: .5s all;

				@include breakpoint(md) {
					width: 4rem;
					height: 4rem;
				}
			}
		}

		.user-info {
			display: none;

			@include breakpoint(md) {
				display: initial;
			}

			p {
				margin: 0;

				&.user-fullname {
					font-weight: 600;

					i {
						margin-left: .25rem;
					}
				}

				&.user-username {
					font-size: .75rem;
					color: $color-text-light;
				}
			}
		}

		&:before {
			content: '';
			position: absolute;
			left: -1px;
			z-index: 1;
			display: block;
			width: 1px;
			height: 2.5rem;
			background: #e4e4e4;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: -0.25rem;
			left: 0;
			z-index: 1;

			display: none;
			width: 100%;
			height: .5rem;
			background: white;
		}

		.nav--user-menu {
			position: absolute;
			right: -1px;
			top: 100%;

			width: 15rem;

			display: none;

			@include ui-border;
			@include ui-border-radius;
			border-top-left-radius: 0;
			border-top-right-radius: 0;

			@include ui-shadow;

			padding: 1rem;

			ul {
				margin: 0;
				margin-top: 1rem;
				padding: 0;

				list-style: none;

				li {
					margin: .25rem 0;
				}

				&+h5 {
					margin-top: 1rem;
				}
			}
		}

		&.is-active {
			border-color: $color-border;


			&:after {
				display: block;
			}

			.nav--user-menu {
				display: block;
			}
		}
	}

	&.is-fixed {
		height: 4.5rem;

		.nav--title-logo {
			width: 12rem;
		}

		.nav--user {
			height: 4.5rem;
		}

		.nav--user {
			.profile-picture {
				img {
					width: 3rem;
					height: 3rem;
				}
			}
		}
	}

	&.is-scrolled {
		top: -4.5rem;
	}
}

.header-spacer {
	display: block;
	width: 100%;
}
