.content-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;

	@include breakpoint(md) {
		grid-template-columns: 2fr 1fr;

		padding: 0;
	}

	+.content-wrapper {
		margin-top: 1rem;
	}

	&.full {
		@include breakpoint(sm) {
			grid-template-columns: 1fr;
		}
	}

	.main {
		display: grid;
		grid-gap: 1rem;
		grid-auto-rows: minmax(min-content, max-content);
	}

	.sidebar {
		display: grid;
		grid-gap: 1rem;
		grid-auto-rows: minmax(min-content, max-content);

		&.is-sticky {
			position: sticky;
			top: 0;

			.sidebar-inner {
				position: sticky;
				top: 0;

				display: grid;
				grid-gap: 1rem;
				grid-auto-rows: minmax(min-content, max-content);

				transition-duration: .5s;
			}
		}

		.content-block {
			&.no-padding {
				>.content {
					padding: 0;
				}
			}
		}
	}
}

// CONTENT BLOCK

.content-block {
	position: relative;

	display: block;

	@include ui-border;
	@include ui-border-radius;
	@include ui-shadow;

	background-color: white;

	>.title {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		width: 100%;

		padding: .75rem 1rem;

		@include ui-border;
		border-width: 0 0 1px 0;

		cursor: default;
		user-select: none;

		>* {
			position: relative;
		}

		.dropdown {
			position: absolute;
			top: .5rem;
			right: .5rem;

			margin: 0;
		}
	}

	>.content {
		max-height: max-content;
		width: 100%;
		padding: 1rem;
		transition: padding .25s, max-height .25s ease-in-out;

		hr {
			margin: 1.5rem -1rem 1rem;
		}
	}

	&.content-toggle {
		>.content {
			max-height: 0;
			padding: 0 1rem;
			overflow: hidden;
			transition: padding .5s, max-height 0.25s cubic-bezier(0, 1, 0, 1);
		}
	}
}

.dropdown {
	position: relative;

	user-select: none;

	.dropdown-button {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 2rem;
		height: 2rem;

		cursor: pointer;

		&:empty {
			// background-color: red;
			background-image: url('../../img/layout/icons/menu.svg');
			background-size: 1rem;
			background-repeat: no-repeat;
			background-position: center;
		}

		i {
			user-select: none;
			pointer-events: none;
		}

		&.button {
			~.dropdown-menu {
				top: calc(100% + .5rem);
			}
		}
	}

	.dropdown-menu {
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1;

		display: none;

		min-width: 10rem;

		@include ui-border;
		@include ui-border-radius;
		@include ui-shadow;

		background-color: white;

		transition: all .25s;

		ul {
			list-style: none;
			display: flex;
			flex-direction: column;

			width: 100%;

			margin: 0;
			padding: 0;

			li {
				display: block;
				width: 100%;
				padding: 1rem;

				@include small-text;

				i {
					width: 1rem;
					text-align: center;
				}

				&:hover {
					background-color: rgba($color-border, .5);
					box-shadow: 0 0 1px 1px $color-border;
				}
			}
		}
	}

	&.is-active {
		.dropdown-menu {
			display: flex;
		}
	}

	&.is-hoverable {
		&:hover {
			.dropdown-menu {
				display: flex;
			}
		}
	}
}
