.modal-content {
	@include ui-border-radius;
	@include ui-shadow;



	max-width: 90vw;
	width: 100%;

	overflow: initial;
	padding: 0;

	@include breakpoint(sm) {
		max-width: 90%;
		width: auto;
	}

	.modal-close {
		position: absolute;
		top: -2rem;
		right: 0;

		width: 1.5rem;
		height: 1.5rem;

		border: 0;

		background: {
			image: url('../../img/layout/icons/close.svg');
			repeat: no-repeat;
			size: 1rem;
			position: center;
			color: rgba(0, 0, 0, 0);
		}
	}

	.content {
		padding: 1rem;

		@include breakpoint(md) {
			padding: 2rem;
		}
	}

	.modal-character {

		&.narrator {
			.character-info {
				@include breakpoint(md) {
					width: 20rem;
					display: block;
				}
			}
		}

		.character-info {

			display: flex;
			flex-direction: column;

			@include breakpoint(md) {
				width: 40rem;
				display: block;
			}

			&-narrator {
				padding-top: 5rem;
			}

			&-basic {
				order: 1;

				position: absolute;
				top: 0;
				left: 0;
				right: 0;

				display: flex;
				align-items: center;
				justify-content: flex-start;

				height: 5rem;
				width: 100%;

				@include ui-border;
				border-top: 0;
				border-left: 0;
				border-right: 0;

				@include ui-border-radius;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;

				padding: 1rem;

				z-index: -1;

				@include breakpoint(md) {
					padding: 2rem;
				}
			}

			.profile-picture {
				display: block;

				width: 7rem;
				height: 7rem;
				object-fit: cover;

				@include ui-border-radius;

				margin-right: 1rem;
			}

			.name {
				&-character {
					font-weight: bold;
				}

				&-user {
					font-size: .85rem;
					color: $color-text-light;
				}
			}

			&-user {
				font-size: .85rem;
				margin-bottom: 1rem;

				.username {
					font-weight: bold;

					&::before {
						content: '@';
					}
				}
			}

			&-box {
				order: 2;

				width: 22rem;

				padding-top: 6rem;

				@include breakpoint(sm) {
					padding-top: 5rem;
				}
			}

			&-badge {
				display: block;

				margin-bottom: 1rem;

				img {
					display: inline-block;

					&+img {
						margin-left: .5rem;
					}
				}
			}


			&-item {
				margin-bottom: .5rem;

				display: flex;
				align-items: flex-start;
				justify-content: flex-start;

				&:last-child {
					margin-bottom: 0;
				}

				.info-name {
					text-transform: uppercase;
					font-weight: bold;

					width: 4rem;
					font-size: .75rem;
					line-height: 1.5rem;
				}

				.info-value {
					width: 100%;

					text-align: justify;
					hyphens: auto;
				}
			}

			&-stack {
				order: 3;

				// position: absolute;
				// top: 1rem;
				// right: 1rem;

				float: right;

				@include ui-border;
				border-bottom: 0;
				border-left: 0;
				border-right: 0;

				@include ui-border-radius;

				margin: -1rem;
				margin-top: 1rem;
				padding: 1rem;

				@include breakpoint(md) {
					width: 15rem;

					@include ui-border;
					@include ui-border-radius;
					@include ui-shadow;

					margin: 0;
				}

				.stack-item {
					display: flex;
					align-items: center;
					justify-content: flex-start;

					&+.stack-item {
						margin-top: .75rem;
					}

					&-icon {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-shrink: 0;

						width: 3rem;
						height: 3rem;

						@include ui-border;
						@include ui-border-radius;
						@include ui-shadow;

						margin-right: .5rem;
					}

					&-info {
						width: 100%;

						.amount {
							float: right;

							font-size: .75rem;
							color: $color-text-light;

							&:before {
								content: 'x';
							}
						}
					}
				}
			}
		}
	}

	.modal-login {
		display: flex;
		flex-direction: column;

		max-width: 24rem;

		@include breakpoint(md) {
			flex-direction: row;

			max-width: unset;
		}

		.login-left {
			display: none;

			width: 100%;
			height: 10rem;

			background-color: $color-text-light;
			background-image: url('./../img/layout/background/register.jpg');
			background-size: cover;
			background-position: center;

			@include ui-border-radius;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;

			@include breakpoint(md) {
				display: block;
				width: 25rem;
				height: 40rem;

				@include ui-border-radius;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.login-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			margin-top: 0rem;
			padding: 2rem;

			@include breakpoint(md) {
				padding: 2rem 4rem;
			}
		}

		.login-welcome {
			width: 20rem;

			margin-bottom: 1.5rem;

			p {
				margin: 0;
			}

			@include breakpoint(md) {
				margin-bottom: 2.5rem;
			}
		}

		form {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			@include breakpoint(md) {
				max-width: 20rem;
			}

			input[type]:not([type=checkbox]):not([type=submit]) {
				width: 100%;

				@include breakpoint(md) {
					max-width: 20rem;
				}
			}
		}

		.form-login-social {
			a {
				display: flex;
				align-items: center;
				justify-content: center;

				height: 3rem;
				width: 100%;

				color: white;

				@include ui-border-radius;

				background-color: #4267b2;
				background-image: url('./../img/layout/icons/facebook.svg');
				background-size: 1.5rem;
				background-repeat: no-repeat;
				background-position: 1rem;

				padding-left: 2rem;

			}
		}

		.form-login-submit {
			input[type=submit] {
				width: 100%;
			}

			@include breakpoint(md) {
				width: auto;
			}
		}

		.form-login-remember {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: flex-start;

			font-size: .75rem;
			// color: $color-text-light;
			transition: all .25s;

			* {
				+* {
					margin: 0 .25rem;
				}
			}

			@include breakpoint(md) {
				flex-direction: row;
				justify-content: flex-end;

				width: auto;
			}

			// &:hover {
			// 	color: $color-text-regular;
			// }
		}

		.form-login-bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: .75rem;

			margin-top: .75rem;
		}

		.form-login-register {
			text-decoration: underline;
		}

		.form-register-password {
			input[type='password'] {
				width: calc(50% - .5rem) !important;

				&+input {
					margin-left: 1rem;
				}
			}
		}

		.form-register-login {
			width: 60%;
			font-size: .75rem;

			p {
				width: 100%;

				@include breakpoint(md) {
					text-align: right;
				}
			}

			a {
				text-decoration: underline;
			}
		}

		.form-register-notice {
			max-width: 20rem;

			margin-top: 1rem;

			font-size: .75rem;
		}
	}

	.modal-block-edit {
		@include breakpoint(sm) {
			width: 50rem;
		}

		.wysiwyg {
			height: 70vh;

			@include breakpoint(sm) {
				height: 30rem;
			}
		}

		.block-edit-title {
			width: 100%;
			height: 4rem;
			border: 0;

			font-size: 1.5rem;
		}

		.block-edit-buttons {
			position: absolute;
			bottom: 1rem;
			left: 0;
			right: 0;

			display: flex;
			align-items: center;
			justify-content: center;

			@include breakpoint(sm) {
				right: 1rem;
				left: unset;
			}

			>*+* {
				margin-left: 1rem;
			}
		}
	}

	.modal-card-create {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;

		@include ui-border-radius;

		width: 100%;
		max-width: 30rem;
		padding: 0;

		overflow: hidden;

		@include breakpoint(sm) {
			grid-template-columns: 1fr;
			grid-gap: 0;
			width: 50rem;
		}

		.card-create-left {
			position: relative;
			background-color: $color-border;
			min-height: 15rem;
			height: 100%;
		}

		.card-image-upload {
			input[type=file] {
				width: 0;
				height: 0;
			}

			label {
				position: absolute;
				top: 0;

				background-color: rgba(0, 0, 0, 0.5);
				width: 100%;
				height: 100%;

				color: white;

				display: flex;
				align-items: center;
				justify-content: center;

				opacity: 0;
				transition: all .25s;

				&:hover {
					opacity: 1;
				}
			}
		}

		.card-create-right {
			padding: 1rem;
		}

		.card-create-buttons {
			display: flex;
			align-items: center;
			justify-content: center;

			margin-top: 1.5rem;

			@include breakpoint(sm) {
				justify-content: flex-end;
			}

			>*+* {
				margin-left: 1rem;
			}
		}

		.card-edit-save {
			width: 100%;
		}
	}
}

.modal {
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 10000;
}
