@mixin ui-shadow {
    box-shadow: 0 1px 4px rgba($color-text-light, .125);
}

@mixin ui-no-shadow {
    box-shadow: none;
}

@mixin ui-border-radius {
    border-radius: $var-border-radius;
    overflow: hidden;
}

@mixin ui-no-border-radius {
    border-radius: none;
}

@mixin ui-border {
    border: 1px solid rgba($color-text-light, .25);
}

@mixin ui-no-border {
    border: none;
}

@mixin ui-bottom-spacing {
    margin-bottom: 1rem;

    @include breakpoint(md) {
        margin-bottom: 2rem;
    }
}

.ui-widget-shadow {
    @include ui-shadow;
}

.ui-widget-border {
    border: 1px solid rgba($color-text-light, .25);
}

.ui-widget-border-radius {
    border-radius: .25rem;
}

.ui-widget {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;

    @include ui-border;
    @include ui-border-radius;
    @include ui-shadow;
    @include ui-bottom-spacing;


    .title {
        position: relative;
        padding: .75rem 1rem;
        border-bottom: 1px solid rgba($color-text-light, .25);

        h3 {
            margin: 0;
        }

        p {
            color: $color-text-light;
            margin: 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: .75rem;
            right: .25px;
            display: block;
            width: 2.25rem;
            height: 2.25rem;
            transition: .25s all ease-in-out;
            z-index: 1;

            background: {
                image: url('../img/icons/menu.svg');
                size: 1rem;
                position: center;
                repeat: no-repeat;
            }

            @include breakpoint(md) {
                opacity: 0;
            }
        }

        &.featured {
            padding-top: 7.5rem;

            h3 {
                color: white;
                text-shadow: 0 0 .5rem black;
            }

            h6 {
                color: white;
                margin: 0;
                text-shadow: 0 0 .5rem black;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }
        }
    }

    .content {
        padding: 0 1rem;
    }

    &:hover {
        .title {
            &:after {
                opacity: 1;
            }
        }
    }
}

.modal {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}