@mixin ui-shadow {
	box-shadow: 0 1px 4px rgba($color-text-light, .125);
}

@mixin ui-no-shadow {
	box-shadow: none;
}

@mixin ui-border-radius {
	border-radius: $ui-border-radius;
}

@mixin ui-no-border-radius {
	border-radius: none;
}

@mixin ui-border {
	border: 1px solid $color-border;
	background-color: white;
}

@mixin ui-no-border {
	border: none;
}

@mixin ui-bottom-spacing {
	margin-bottom: 1rem;

	@include breakpoint(md) {
		margin-bottom: 2rem;
	}
}

@mixin ui-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@include breakpoint(xs) {
		max-width: 540px;
	}

	@include breakpoint(sm) {
		max-width: 740px;
	}

	@include breakpoint(md) {
		max-width: 960px;
	}

	@include breakpoint(lg) {
		max-width: 1140px;
	}
}

.ui-widget-shadow {
	@include ui-shadow;
}

.ui-widget-border {
	border: 1px solid rgba($color-text-light, .25);
}

.ui-widget-border-radius {
	border-radius: .25rem;
}

.ui-widget {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: white;

	@include ui-border;
	@include ui-border-radius;
	@include ui-shadow;
	@include ui-bottom-spacing;

	width: 100%;

	&:last-child {
		margin-bottom: 0;
	}

	.title {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;

		@include ui-border-radius;

		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		border-bottom: 1px solid rgba($color-border, .75);

		padding: .75rem 1rem;

		h3 {
			margin: 0;
		}

		p {
			margin: 0;

			&.subtext {
				color: $color-text-light;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: .75rem;
			right: .25px;
			display: block;
			width: 2.25rem;
			height: 2.25rem;
			transition: .25s all ease-in-out;
			z-index: 1;

			background: {
				image: url('../../img/layout/icons/menu.svg');
				size: 1rem;
				position: center;
				repeat: no-repeat;
			}

			@include breakpoint(md) {
				opacity: 0;
			}
		}

		&.featured {
			align-items: flex-start;

			height: 15rem;

			h3,
			h6 {
				color: white;
				text-shadow: 0 0 .5rem black;
				margin: 0;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: -1;

				margin: 0;

				@include ui-border-radius;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	.content {
		padding: 1rem;

		&.limit-lenght {
			@include breakpoint(md) {
				max-height: 50vh;
				overflow: auto;
			}
		}

		img {
			max-width: 100%;

			@include ui-border-radius;
		}
	}

	hr {
		margin: 1rem -1rem;
	}

	.interaction {
		display: flex;
		align-items: center;
		justify-content: space-between;

		font-size: .85rem;

		padding: 1rem;

		ul {
			list-style: none;

			display: flex;
			align-items: center;
			justify-content: center;

			margin: 0;
			padding: 0;

			li {
				display: block;

				&+li {
					margin-left: 1rem;
				}
			}
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;

			font-weight: 600;
			white-space: nowrap;

			user-select: none;
			cursor: pointer;
		}
	}

	.discussion {
		font-size: .85rem;

		border-top: 1px solid rgba($color-text-light, .25);

		background-color: $color-background;

		.comment-form {
			display: none;
			align-items: center;
			justify-content: center;

			@include ui-border;
			border-left: 0;
			border-right: 0;
			border-top: 0;

			padding: .5rem 1rem;

			background-color: transparent;

			input[type='text'] {
				width: 100%;
				height: 2.5rem;

				@include ui-border;
				@include ui-border-radius;

				background-color: white;

				padding: 0 1rem;
			}

		}

		&.is-active {
			.comment-form {
				display: initial;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				padding: 1rem;
				border-bottom: 1px solid rgba($color-text-light, .25);

				&.show-more {
					text-transform: lowercase;
					padding: .5rem 1rem;
					color: $color-text-light;
				}
			}

			p {
				margin: 0;
			}

			.reply-author {
				color: $color-text-light;

				a {
					font-weight: bold;
				}
			}
		}
	}

	&.ui-naked-widget {
		@include ui-no-border;
		@include ui-no-border-radius;
		@include ui-no-shadow;

		background: none;

		.content {
			padding: 0;
		}
	}

	&:hover {
		.title {
			&:after {
				opacity: 1;
			}
		}
	}
}

.wysiwyg {
	width: 100%;
	height: 30rem;

	@include ui-border;
	@include ui-border-radius;

	&:before {
		content: '';
		display: block;

		background-image: url('../../img/layout/wysiwyg.jpg');
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;

		@include ui-border;

		border-top: 0;
		border-right: 0;
		border-left: 0;

		height: 3rem;
	}
}
